<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/favicon.ico">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/darcula.min.css">
    <!-- Custom styles for this template -->
    <link href="/assets/css.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <img className="logoimg" src="https://www.globalgiving.org/img/logos/gg_horizontal_color_600.png" alt="Global Giving" height="32px" width="220px" align="left"></img>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<br>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     

        <% if (locals.user) { %>
          <span class="navbar-text">
            Welcome <%= locals.user.name %>
          </span>
        <% } %>
        <ul class="navbar-nav">
        

          <% if (locals.user) { %>
            <li>
              <a class="nav-link" href="/ds/logout" id="logout"
                 data-busy="href">Logout <span class="sr-only">(current)</span></a>
            </li>
          <% } else { %>
            <li>
              <a class="nav-link" href="/ds/mustAuthenticate" id="login"
                 data-busy="href">Login <span class="sr-only">(current)</span></a>
            </li>
          <% }  %>
        </ul>
      </div>
    </nav>
    

    <div class="container">
      <!-- The closing div is in foot.ejs -->
      <% if (locals.session.accountName) { %>
        <p style="float: right;">
         <!-- DocuSign Account: <%= locals.session.accountName %>. -->
        </p>
      <% } %>


      <div class="col-md-12 feedback" id="feedback">
          <h3>Working...&nbsp;&nbsp;&nbsp;<span></span></h3>
      </div>

      <section id="busy" class="feedback"><div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
        </div>
      </section>
   
      <p id="download-continue" class="feedback"><a href="/">Continue</a></p>
    </div> <!-- container -->
