<% include ../../partials/examplesHead %>
<br><br>
<h4 id="example001">Confirm to sign your Partner Participation Form</h4>
<br>

<% include ../../partials/docBody %>
<form class="eg" action="" method="post" data-busy="form">
  <div class="form-group">
    <label for="signerEmail">Signer Email</label>
    <input type="email" class="form-control" id="signerEmail" name="signerEmail"
          aria-describedby="emailHelp" placeholder="pat@example.com" required
          value="<%= locals.dsConfig.signerEmail %>">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="signerName">Signer Name</label>
    <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
          value="<%= locals.dsConfig.signerName %>" required>
  </div>
  <input type="hidden" name="_csrf" value="<%- csrfToken %>">
  <button type="submit" class="btn btn-docu">Confirm</button>
</form>
<br><br><br>
<h6 style="color: #877e6f; ">Powered by DocuSign</h6>

<% include ../../partials/examplesFoot.ejs %>
